<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <script>
            function getDemo() {
                fetch("demo/");
                fetch("demo/");
                fetch("demo/");
                fetch("demo/");
                fetch("demo/");
                fetch("demo/");
                fetch("demo/");
                fetch("demo/");
            }
        </script>
    </head>
    <body>
        <header>
            <h1>Kolo Demo</h1>
            <p>This project provides a small json api that can be used to test Kolo.</p>
            <h2>Usage</h2>
            <p>Navigate to <a href="demo/">localhost:8000/demo/</a>.</p>
            <button onclick="getDemo()">Click me!</button>
        </header>
    </body>
</html>
